#biopic {
    width: 200px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

#mainsection {
    width: 960px;
    margin: 0px auto;
    background-color: white;
    height: 400px;
}

@media screen and (max-width: 980px) {
    #mainsection {
        width: 75%;
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    #mainsection {
        width: 100%;
    }

}

@media screen and (max-width: 640px) {
    header h1 {
        clear: both;
        left: 0;
        float: none;
    }

    
}