#biopic {
    width: 200px;
    margin-left: 20px;
    margin-right: 10px;
    float: left;
}

#mainsection {
    width: 960px;
    margin: 0px auto;
    background-color: white;
    height: 400px;
}

@media screen and (max-width: 980px) {
    #mainsection {
        width: 75%;
        position: relative;
        left: -125px;
    }
}

@media screen and (max-width: 768px) {
    #mainsection {
        width: 70%;
        position: relative;
        left: -147px;
    }
}

@media screen and (max-width: 640px) {
    #mainsection {
        width: 90%;
        position: relative;
        left: -20px;
        height: 600px;
    }

    #biopic {
        width: 50%;
        float: none;
        align
    }

    p {
        margin-left: 10px;
    }
}