header {
    background-color: #ffffff;
    width: 960px;
    margin: 10px auto;
}

header h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    float: left;
    width: 30%;
    position: relative;
    top: -10px;
}

h2 {
    color: #4aaaa5;
    font-size: 25px;
    border-bottom: lightgray 3px solid;
    width: 900px;
    margin: 20px;
    padding: 20px 0;
}

header a {
    float: right;
    margin-top: 25px;
    text-decoration: none;
}

h1,
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

a,
div,
footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#aboutlink {
    margin-right: 30px;
}

#portfoliolink {
    margin-right: 30px;
}

#maincontent {
    clear: both;
    background-color: #cccccc;
    padding: 20px;
    height: 920px;
    border-bottom: 5px solid #4aaaa5;
    position: relative;
    top: -10px;
}

#maincontent::after {
    content: "";
    display: block;
    clear: both;
}

#mainsection::after {
    content: "";
    display: block;
    clear: both;
}

footer {
    clear: both;
    text-align: center;
    background-color: #666666;
    padding-top: 20px;
    position: relative;
    top: -10px;
}

#footer-text {
    color: white;
    bottom: 0;
    padding-top: 20px;
}

@media screen and (max-width: 980px) {
    body {
        background-color: purple;
    } 
    h1 {
        margin-left: 20px;
    }
    .links {
        position: relative;
        left: -40px;
    }
    #maincontent {
        width: 980px;
    }
    h2 {
        width: 94%;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: red;
    }
    .links {
        position: relative;
        left: -270px;
    }
    #maincontent {
        width 768px;
    }
}

@media screen and (max-width: 640px) {
    body {
        background-color: green;
        width: 640px;
    }
    header h1 {
        width: 60%;
        float: none;
        position: relative;
        left: -20px;
        text-align: center;
    }
    .links {
    }
}